# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Env / secrets
.env
.env.local
secrets/
*.pem


# DB / IDE
*.db
.idea/
.vscode/
